  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <div id="container">
        <div id="search">
            <label for="searchInput">Explore Strain<i class="fa fa-search"></i>Frequenter</label>
            <input id="searchInput" type="text" placeholder="Search">
        </div>
        
        <ul id="results">
            <li class="name">Indica</li>
            <li class="name">Hybrd</li>
            <li class="name">Sativa</li>   
        </ul>
        
    </div>
        <script src="../public/js/find.js"></script>
    </body>
</html>