  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <section class="hero is-success ">
        <div class="hero-body">
            <p class="title has-text-centered " id="homepageTitle">Find my Weed</p>



            <div class="dropdown is-hoverable" id="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <p>Menu</p>



                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="buttons is-centered">
                                <button class="button is-primary is-rounded ">Logout</button>
                                <hr class="dropdown-divider">
                                <button class="button is-primary is-rounded">Homepage</button>
                                <button class="button is-primary is-rounded"> Find an Activity</button>
                                <button class="button is-primary is-rounded">Explore a Strain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
      <nav>
        <div id="container">
        <div id="search">
            <label for="searchInput">Explore Strain<i class="fa fa-search"></i>Frequenter</label>
            <input id="searchInput" type="text" placeholder="Search">
        </div>
        
        <ul id="results">
            <li class="name">Indica</li>
            <li class="name">Hybrd</li>
            <li class="name">Sativa</li>   
        </ul>
        
    </div>
        <script src="../public/js/find.js"></script>
    </body>
</html>