<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/FindAnActivity.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/FindAnActivity.js"></script>
</head>


<header>
    <section class="hero is-success ">
        <div class="hero-body">
            <h1 class="title has-text-centered " id="homepageTitle">Beer Finder</h1>



            <div class="dropdown is-hoverable" id="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <p>Menu</p>



                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="buttons is-centered">
                                <button class="button is-primary is-rounded" id="logout" >Logout</button>
                                <hr class="dropdown-divider">
                                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                                <button class="button is-primary is-rounded" id="Find an Activity"> Find an Activity</button>
                                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a Strain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>

<section id="ButtonSection">
  <div>
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-narrow">
          <div class="buttons" id="RandomButtons"></div>
        </div>
      </div>
    </div>
  </div>
</section>
