<header>
    <section class="hero is-success ">
        <div class="hero-body">
            <p class="title has-text-centered ">Find my Weed</p>
            <p class=" has-text-left">Welcome!</p>


            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>Hover me</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>


<body>
    <section class="container is-fluid" id="recentReviews">
        <div>
            <h1 class="has-text-centered">Most Recent Reviews</h1>
            <div>
                {{!-- <p>{{FUTURE MOST RECENT REVIEW}}</p> --}}
            </div>
        </div>
    </section>

    <section class="container is-fluid" id="usersActivities">
        <h1 class="has-text-centered">My User Activities</h1>
        <div>
            {{!-- <p>{{FUTURE USER ACTIVITIES}}</p> --}}
        </div>
    </section>
</body>