<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/strains.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<header>
  <section class="hero is-success ">
    <div class="hero-body">
      <h1 class="title has-text-centered " id="homepageTitle">Beer Finder</h1>



      <div class="dropdown is-hoverable" id="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
            <p>Menu</p>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item has-text-centered">
              <p><strong>Welcome!</strong></p>
              <hr class="dropdown-divider">

              <div class="buttons is-centered">

                <hr class="dropdown-divider">
                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                <button class="button is-primary is-rounded" id="Find an Activity"> Find an Activity</button>
                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a Strain</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</header>
<h1 class=" has-text-centered">Type of Beer</h1>
<div class="container is-flex is-align-items-center"></div>
<div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center is-align-items-center" id="strainsContainer">
  <div class="column is-one-third-desktop is-half-tablet is-align-items-center">
    <div class="card" id="StrainCard" >
      <div class="card-content has-text-centered">
          <h1>Ale</h1>
          <figure class="image is-4by3.5">
            <a href="/strain/Ale"><img src="assets/sierra-nevada.png" alt="Sierra Nevada beer" id="beerImage"></a>
          </figure>
          <p id="beer-effect">Ale is a type of beer that is known for its diverse range of flavors and aromas. It encompasses a wide variety of beer styles, each with its own unique characteristics. Ales are typically fermented at warmer temperatures compared to lagers, which leads to a faster fermentation process and the development of fruity and estery flavors. </p>
          <button class="button is-primary" id="ale-btn">
            See all Ales
          </button>
      </div>
    </div>
  </div>




  
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card"id="StrainCard"  >
      <div class="card-content has-text-centered">
           <h1>Lager</h1>
          <figure>
           <a href="/strain/Lager"> <img src="assets/miller-lite.png" alt="Miller Lite beer" id="beerImage"></a> 
          </figure class="image is-4by3.5">
          <p id="beer-effect">Lager is a type of beer that is known for its crisp and clean taste. It is typically light in color, ranging from pale yellow to amber. Lagers are characterized by their smooth and mellow flavor profile, with a balanced hop bitterness and a subtle malt sweetness.</p>
          <button class="button is-primary" id="lager-btn">
            See all Lagers
          </button>
      </div>
    </div>
  </div>
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card" id="StrainCard">
      <div class="card-content has-text-centered">
          <h1>Sour</h1>
          <figure class="image is-4by3.5">
            <a href="/strain/Sour"><img src="assets/sour-monkey.png" alt="Sour beer" id="beerImage"></a>
          </figure>
          <p id="beer-effect">Sour beer is a distinct category of beer that is intentionally brewed to have an acidic and tart flavor profile. These beers are produced through a process called souring, where certain bacteria and wild yeasts are intentionally introduced during fermentation.</p>
          <button class="button is-primary" id="sour-btn">
            See all Sours
          </button>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/js/findBeer.js"></script>
