<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/strains.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<header>
  <section class="hero is-success ">
    <div class="hero-body">
      <h1 class="title has-text-centered " id="homepageTitle">Strain Finder</h1>



      <div class="dropdown is-hoverable" id="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
            <p>Menu</p>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item has-text-centered">
              <p><strong>Welcome!</strong></p>
              <hr class="dropdown-divider">

              <div class="buttons is-centered">

                <hr class="dropdown-divider">
                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                <button class="button is-primary is-rounded" id="Find an Activity"> Find an Activity</button>
                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a Strain</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</header>
<h1 class=" has-text-centered">Type of Strain</h1>
<div class="container is-flex is-align-items-center"></div>
<div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center is-align-items-center" id="strainsContainer">
  <div class="column is-one-third-desktop is-half-tablet is-align-items-center">
    <div class="card" id="StrainCard" >
      <div class="card-content has-text-centered">
          <h1>Hybrid</h1>
          <figure class="image is-4by3">
            <a href="/strain/Hybrid"><img src="assets/HogplumsHazeNo30_Hybrid.jpg" alt="Hybrids" id="CannabisImage"></a>
          </figure>
          <p id="Cannabis-effect"><span>Effect:</span> Farmers and producers select hybrids for their unique impacts. They can range from reducing anxiety and stress to easing symptoms of chemotherapy or radiation.</p>
          <button class="button is-primary" id="hybrid-btn">
            See all Hybrids
          </button>
      </div>
    </div>
  </div>




  
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card"id="StrainCard"  >
      <div class="card-content has-text-centered">
           <h1>Indica</h1>
          <figure class="image is-4by3">
            <img src="assets/DoubleAfghanChunk24_INDICA.jpg" alt="Indicas" id="CannabisImage">
          </figure>
          <p id="Cannabis-effect"><span>Effect:</span> Indica is sought after for its intensely relaxing effects. It may also help reduce nausea and pain and increase appetite</p>
          <button class="button is-primary" id="indica-btn">
            See all Indicas
          </button>
      </div>
    </div>
  </div>
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card" id="StrainCard">
      <div class="card-content has-text-centered">
          <h1>Sativa</h1>
          <figure class="image is-4by3">
            <img src="assets/SuperSilverThaiNo5_SATIVA.jpg" alt="Sativas" id="CannabisImage">
          </figure>
          <p id="Cannabis-effect"><span>Effect:</span> Sativa often produces a “mind high,” or an energizing, anxiety-reducing effect. If you use sativa-dominant strains, you may feel productive and creative, not relaxed and lethargic.</p>
          <button class="button is-primary" id="sativa-btn">
            See all Sativas
          </button>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/js/findStrain.js"></script>
