<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/findStrain.js"></script>
</head>


<header>
  <section class="hero is-success ">
    <div class="hero-body">
      <p class="title has-text-centered " id="homepageTitle">Strain Finder</p>



      <div class="dropdown is-hoverable" id="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
            <p>Menu</p>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item has-text-centered">
              <p><strong>Welcome!</strong></p>
              <hr class="dropdown-divider">

              <div class="buttons is-centered">

                <hr class="dropdown-divider">
                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                <button class="button is-primary is-rounded" id="Find an Activity"> Find an Activity</button>
                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a Strain</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</header>


<h1 class="has-text-centered ">Explore Strains</h1>
<!--sativa button-->
<section class="section mb-5 mt-0 pt-0 startpage ">
    <div class="container has-text-centered">
        <div class="row" id="columns-container">
            <div class="row is-one-third" id="data-card-row">
                <h1 class="is-size-1 title" id="left-box-title"></h1>
                <div class="card">
                    <h2><strong><span id="symbol"></span></strong></h2>
                    <div class="card-content">
                        <button class="is-btn" id="sativa-btn">
                        <div class="content" id="cannabis-card">
                            <h1>Sativas</h1>
                            <img src="assets/SuperSilverThaiNo5_SATIVA.jpg" width="400" height="300">
                           
                        </div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
</section>
<!-- indica button-->
<section class="section mb-5 mt-0 pt-0 startpage ">
    <div class="container has-text-centered">
        <div class="row" id="columns-container">
            <div class="row is-one-third" id="data-card-row">
                <h1 class="is-size-1 title" id="left-box-title"></h1>
                <div class="card">
                    <h2><strong><span id="symbol"></span></strong></h2>
                    <div class="card-content">
                        <button class="is-btn" id="indica-btn">
                        <div class="content" id="cannabis-card">
                             <h1>Indicas</h1>
                            <img src="assets/DoubleAfghanChunk24_INDICA.jpg" width="400" height="300" alt="weed">
                        </div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
</section>
<!-- hybrid button-->
<section class="section mb-5 mt-0 pt-0 startpage ">
    <div class="container has-text-centered">
        <div class="row" id="columns-container">
            <div class="row is-one-third" id="data-card-row">
                <h1 class="is-size-1 title" id="left-box-title"></h1>
                <div class="card">
                    <h2><strong><span id="symbol"></span></strong></h2>
                    <div class="card-content">
                        <button class="is-btn" id="hybrid-btn">
                            <div class="content" id="cannabis-card">
                                 <h1>Hybrids</h1>
                                <img src="assets/HogplumsHazeNo30_Hybrid.jpg" width="400" height="300">
                            </div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
</section>

 <script src="/js/findStrain.js"></script>