.body {
    background-color: rgba(250, 245, 245, 0.719);
}

#homepageTitle{
    font-size: 80px;
}

#dropdown{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

h1{
    font-size:  36px;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 20px;
}

#CannabisName{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3rem;
}

#activity-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#MostRecentReview{
    margin-bottom: 3rem;
    font-size: 20px;
}

#CannabisImage{
border-style: solid;
margin-bottom: 3rem;
margin-top: 3rem;
height: 400px;
width: 400px;
}

