.html{
    max-width: 100%;
}

.body {
    background-color: rgba(250, 245, 245, 0.719);
}

.hero {
    width: 100%;
    max-width: none;
  }
#homepageTitle{
    font-size: 80px;
}

#dropdown{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

h1{
    font-size:  36px;
    text-decoration: underline;
    text-underline-offset: 8px;
}