.html{
    max-width: 100%;
}

.body {
    background-color: rgba(250, 245, 245, 0.719);
}

.hero {
    width: 100%;
    max-width: none;
  }
#homepageTitle{
    font-size: 80px;
}
.columns{
    margin-left: 0;
}

#dropdown{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

h1{
    font-size:  36px;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 25px;
}
#ReviewsContainer{
    max-width: 100%;
}
#beer-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#beerImage{
border-style: solid;
}
#beerName{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
#beerDescription{
    font-size: 20px;
    margin-top: 30px;
}


h2{
    margin-top: 15px;
    font-size: 24px;
}
