.html {
    max-width: 100%;
}

.body {
    background-color: rgba(250, 245, 245, 0.719);
}

.hero {
    width: 100%;
    max-width: none;
}

#homepageTitle {
    font-size: 80px;
}

#dropdown {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    text-decoration: underline;
    text-underline-offset: 8px;
    padding-bottom: 10px;
}

.columns{
    margin-left: 0;
}
.figure{
    margin-bottom: 10px;
}

#beerImage {
    border-style: solid;
}

.a{
    border-style: solid;
}
a:visited {
    color: black; /* Change the color to black */
  }

#beerImage:hover {
    border-color: #00c4a7;
  }

#StrainCard {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 850px;
}
#strainsContainer{
    max-width: 100%;
    margin-top: 15px;
}

#sour-btn, #lager-btn, #ale-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
#beer-effect{
font-size: 20px;
margin-top: 5px;
margin-bottom: 35px;
}